<section class="feature" id="faq">
   <!--<h1 class="section-heading">FAQ</h1>-->
  <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
  <h2 style="color:#ffffff">FAQ</h2>
  </div>
   <div class="faq">
      <div class="question">
         Is it an Online event? <div class="open"> + </div>
      </div>
      <div class="description">
          <p> Yes. This is a Webinar session.<p>
      </div>
   </div>
   <div class="faq">
      <div class="question">
      How Can I join the Webinar?<div class="open"> + </div>
      </div>
      <div class="description">
          <p> People can join webinar with the zoom app. Zoom id will be shared in the meetup page one week prior to the event. <p>
      </div>
   </div>
   <div class="faq">
      <div class="question">
         Who can participate?<div class="open"> + </div>
      </div>
      <div class="description">
          <p> Anyone willing to learn new things in QA/Testing world can participate as an attendee. Those willing to share learnings related to QA/Testing concepts can register to present.<p>
          <p> This event is NOT restricted to Chennai residents. If you can manage your own travel and stay, you are most welcome to participate as an attendee or speaker.</p>
      </div>
   </div>
   <div class="faq">
      <div class="question">
         Why free?<div class="open"> + </div>
      </div>
      <div id="faq_desc" class="description">
         <p>Well, we have been active evangelists of testing practices. It is great to see increasing interest and awareness of testing concepts across companies and locations.</p>
         <p>Our intent is to provide a platform for testing enthusiasts to share their opinions, experiences and learnings with wider testing community.</p>
      </div>
   </div>
   <!--<div class="faq">
      <div class="question">
         Can I bring my laptop?<div class="open"> + </div>
      </div>
      <div class="description">
         <p> Yes, you can always bring your laptop. Bringing laptop is a basic requirement for a handson session, if any. </p>
      </div>
   </div>-->
</section>
