<section class="feature" id="faq">
   <!--<h1 class="section-heading">FAQ</h1>-->
  <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
  <h2>FAQ</h2>
  </div>
   <div class="faq">
      <div class="question">
         Who can participate?<div class="open"> + </div>
      </div>
      <div class="hide description">
        <p> Any enthusiastic QA/Tester who is willing to learn new concepts and as well share and is passionate about testing can both participate and present </p>
         <p>It is NOT restricted to only Chennaities. If you can manage your own travel and stay, you are most welcome to apply.</p>
      </div>
   </div>
   <div class="faq">
    <div class="question">
      Can I present?<div class="open"> + </div>
    </div>
    <div class="hide description">
      <p> Ofcourse you can. Please click on 'present' link and provide information asked, we would get back to you for further questions.  </p>
     </div>
   </div>
   <div class="faq">
      <div class="question">
         Why Free?<div class="open"> + </div>
      </div>
      <div id="faq_desc" class="hide description">
         <p>Well, we have been active evangelists of these testing practices for many years. Today we are very happy to see that there is increased interest and awareness of these testing concepts across India and in Hyderabad as well.</p>
         <p>However, we feel that there is a big gap in the understanding and appreciation of these practices. We would like to share our knowledge to build community around these practices.</p>
      </div>
   </div>
   <div class="faq">
      <div class="question">
         Can I get my laptop?<div class="open"> + </div>
      </div>
      <div class="hide description">
         <p> You can carry your laptop, but specifically if there are any handson session, it is recommended to carry your laptop. </p>
      </div>
   </div>
</section>