<!--<section id="location" class="feature">
    <a href="https://www.google.com/maps/place/ThoughtWorks+Technologies/@12.983806,80.2437003,1060m/data=!3m1!1e3!4m5!3m4!1s0x0:0x16c1039144d25687!8m2!3d12.983806!4d80.245889?hl=en" target="_blank" rel="nofollow">
        <div class="map-address" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
            <h1 class="map-address-heading">Location</h1>
            <h3>ThoughtWorks Technologies</h3>
            <div>Ascendas International Tech Park, Zenith - 9th Floor, Tharamani Road, Tharamani, Taramani, Chennai, Tamil Nadu 600113, India</div>
            <div>Ph: 044-49018400</div>
        </div>
    </a>

    <div class="map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4615.5339145447415!2d80.24370031482216!3d12.983805990847829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x16c1039144d25687!2sThoughtWorks+Technologies!5e1!3m2!1sen!2s!4v1501158280993" allowfullscreen class="live-map"></iframe>
    </div>
</section>-->
